body {
    font-family: var(--font-family-1);
}

header {
    height: 76px;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--color-white-fixed);
    width: 500px;
    border-radius: 4px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    position: relative;


}

.modal-close {
    position: absolute;
    width: 40px;
    height: 0px;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-modal-close);
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.modal-body {
    padding: 16px 8px;
    max-height: 90vh;
}

.show-modal {
    display: flex;
}

.show-modal .modal {
    animation: animateModal 1s;
}

@keyframes animateModal {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.users-posts {
    gap: 3.125rem;
}

.sugests-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-user);
    margin-bottom: 2.5rem;
    align-items: center;
}

.ul-sugests {
    display: flex;
    flex-direction: row;
    padding-left: 1.25rem;
    overflow: auto;
}

@media(min-width: 500px) {
    main {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 50px;
    }

    .desktop-posting-section {
        width: 55%;
    }

    .desktop-aside {
        width: 35%;
        position: fixed;
        left: 65%;
        height: 100vh;
    }
    .div-sticky{
        position: sticky;
        top: 120px;

    }

    .desktop-posts {
        width: 55%;
    }

    .ul-sugests {
        flex-direction: column;
    }

    .sugests-style {
        flex-direction: row;
    }

    .navbar {
        padding: 30px 100px 30px 100px;
    }

    .modal {
        width: 760px;

    }
}