@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-white-fixed: #ffffff;
    --radius-1: 0.25rem;
    --font-family-1: "Inter", sans-serif;

    --padding-user: 0.625rem;

    --gap-user: 0.625rem;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul {
    list-style: none;
}

input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 20px;

    width: 90%;
    height: 52px;

    background: #FFFFFF;

    border: 2px solid #DEE2E6;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

textarea {
    height: 130px;
    width: 90%;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 28px 21px 29px 21px;
    background: #FFFFFF;
    border: 2px solid #DEE2E6;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

}