.navbar {
    background-color: var(--color-grey-1);
    position: fixed;
    min-width: 100vw;
    max-width: 100vw;
    top: 0;
    height: 4.75rem;
    padding: 30px 20px;

}

.navbar-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--color-grey-1);
    color: var(--color-white-fixed);
    height: 100%;
    align-items: center;

}

.navbar-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    background-color: transparent;
    color: var(--color-white-fixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link:hover,
.navbar-link.actived {
    background-color: var(--color-grey-2);
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
}