.gap1 {
    gap: 1.5rem;
}

.botton1 {
    margin-bottom: 0.625rem;
}

.botton2 {
    margin-bottom: 2.5rem;
}


.overflow {
    overflow: auto;
}


.padding-user {
    padding: var(--padding-user);
}

.gap2 {
    gap: var(--gap-user);
}


.botton-li {
    margin-bottom: 2rem;
}

.padding-left {
    padding: 1.25rem;
}

.margin{
    margin: 15px;
}