.sugests {
    width: 290px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #212529;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 2.938rem;
    padding-left: 1.25rem;
}


.name-User {
    width: 170px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.info-User {
    width: 135px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #495057;
}

.title-Post {
    width: 385px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    padding-left: 1.25rem;
    margin-bottom: 3.25rem;
}

.titleStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 15px;
}

.textStyle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 15px;
}