.sugests {
    width: 290px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-grey-1);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 2.938rem;
    padding-left: 1.25rem;
}


.name-user {
    width: 170px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.info-user {
    width: 135px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey-2);
}

.title-Post {
    width: 385px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    padding-left: 1.25rem;
    margin-bottom: 3.25rem;
}

.title-style {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 15px;
}

.text-style {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 15px;
}